.payment .form-group > label,
.payment .StripeElement--focus > label {
  bottom: 35px;
  position: relative;
  padding: 0px 5px 0px 5px;
  transition: 0.2s;
  pointer-events: none;
  font: normal normal normal 16px/0px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.payment .form-group {
  width: 100%;
}
.payment .StripeElement {
  height: 72%;
  margin-top: 2%;
}

.payment .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background: white !important;
  padding: 0;
}
.payment .form-control:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  background-color: white;
}

.payment .form-control:focus {
  box-shadow: 0 0 0px 1000px white inset;
  background-color: white !important;
}
.payment .input-group {
  border-bottom: 0.1px solid #88888880;
  height: 40px;
 }
.payment .input-group-append {
  width: 100%;
}
 .payment .form-control:focus ~ label,
.payment .StripeElement--focus ~ label {
  bottom: 65px;
}
 
.payment .form-control:valid ~ label,
.payment .StripeElement--complete ~ label,
.payment .StripeElement--invalid ~ label {
  bottom: 65px;
}
.payment .invalid {
  bottom: 65px !important;
}

.payment {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 10px;
  padding: 30px 40px 30px 40px;
}

.payment .payHeader button {
  height: 44px;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 5px;
  color: white;
}

.payment .or p:before,
.payment .or p:after {
  background-color: #8888886e;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.payment .or p:before {
  right: 0.5em;
  margin-left: -50%;
}
.payment .or p:after {
  left: 0.5em;
  margin-right: -50%;
}
.payment .or p {
  overflow: hidden;
  text-align: center;
  font: normal normal 500 13px/16px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.payment .or {
  margin-top: 4%;
  margin-bottom: 10%;
}

.payment .noteBtn p {
  font: normal normal 500 13px/16px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.payment .noteBtn a {
  text-align: left;
  font: normal normal 500 13px/16px Lato;
  letter-spacing: 0px;
  color: #0078d4;
}
.payment .noteBtn {
  margin-top: 8%;
}
.payment .noteBtn button {
  background: transparent linear-gradient(265deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 5px;
  color: white;
  height: 44px;
  border: 0 !important;
  font: normal normal normal 17px/21px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.payment .has-tooltip {
  position: relative;
}
.payment .has-tooltip .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -moz-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -o-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
}
.payment .has-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Tooltip Body */
.payment .tooltip {
  bottom: 112%;
  width: 186px;
  left: -275%;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  font: normal normal normal 12px/19px Lato !important;
  color: #ffffff;
  height: 109px;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 7px;
}

/* Tooltip Caret */
@media (max-width: 805px) {
  .payment .tooltip {
    left: -129px;
  }
}
.payment .MuiInput-underline:before {
  border-bottom: 1px solid #ced4da !important;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.payment .item {
  width: 50%;
}

.payment .MuiGrid-item {
  width: 100%;
}
.payment .ximg {
  width: 30px;
  height: 20px;
  margin-left: 1px;
}

.payment .error {
  margin-top: -10%;
  color: #ffc7ee;
}

.payment .valid-feedback {
  width: 100%;
  margin-top: -20px;
}

.payment .hidden {
  display: none;
}
.payment .inline-errormsg {
  color: red;
  font-size: 12px;
  margin-top: -34px;
}
.payment .ErrorMessage {
  color: red;
  font-size: 12px;
}

.payment #card-number-error,
.payment #card-expiry-error,
.payment #email-error,
.payment #name-error,
.payment #cvv-error {
  color: #ff0000c4;
  font-size: 13px;
}
.payment .FormGroup {
  padding-top: 3%;
}

.payment #stripe-card-element .CardBrandIcon-container {
  left: 438px !important;
}
.payment
  .CardNumberField--ltr
  .CardBrandIcon-container:not(.is-hidden)
  + .CardNumberField-input-wrapper {
  position: absolute;
  left: 0em;
  right: 0;
}
.payment .brand {
  width: 13%;
  height: 32px;
}
.payment .pf-visa,
.payment .pf-mastercard,
.payment .pf-american-express,
.payment .pf-discover,
.payment .pf-credit-card {
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
}
.payment .pf-visa {
  background: url(../../../images/Group\ 1905.png);
}
.payment .pf-mastercard {
  background: url(../../../images/Group\ 1906.png);
}
.payment .pf-american-express {
  background: url(../../../images/Mask\ Group\ 7.png);
}
.payment .pf-discover {
  background: url(../../../images/Group\ 1908.png);
  background-repeat: no-repeat;

}
.payment .pf-credit-card {
  background: url(../../../images/xx.png);

  background-position: 57% 42%;
}
@media(max-width:767px){
  .payment .col-sm-12{
    margin-top: 7%;
  }
} 
@media(max-width:425px){
  .payment .form-control:focus ~ label,
.payment .StripeElement--focus ~ label {
  bottom: 55px;
}
 
.payment .form-control:valid ~ label,
.payment .StripeElement--complete ~ label,
.payment .StripeElement--invalid ~ label {
  bottom: 55px;
}
.payment .invalid {
  bottom: 55px !important;
}
.payment {
  padding: 30px 17px 30px 17px;
}
} 
