.address p:first-child {
  font: normal normal 600 20px/34px Lato;
  width: 190px;
  color: #1c1c26;
  margin-bottom: 8px;
}
.address p:last-child {
  width: 193px;
  text-align: left;
  font: normal normal normal 17px/22px Lato;
  letter-spacing: 0px;
  color: #707070;
}
.address {
  padding-top: 3%;
}
@media (max-width: 540px) {
  .report .paddings {
    margin: 0px 40px 0 40px !important;
  }
}
@media (max-width: 600px) {
  .address p:first-child {
    width: auto;
    font: normal normal 600 18px/34px Lato;
    margin-bottom: 2px;
  }
  .address p:last-child {
    height: 80px;
    text-align: left;
    font: normal normal normal 16px/22px Lato;
    letter-spacing: 0px;
    color: #707070;
  }
}
@media (max-width: 425px) {
  .address p:first-child {
    width: auto;
    font: normal normal 600 18px/34px Lato;
    margin-bottom: 2px;
  }
  .address p:last-child {
    height: 80px;
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #707070;
  }
}
