.carSlider {
  margin-top: 7%;
  margin-bottom: 7%;
}
.slider-nav {
  width: 96%;
}
.item-slick.slick-slide.slick-current.slick-active {
  outline: none !important;
}

.slider-for {
  margin-bottom: 15px;
}
.slider-for img {
  width: 100%;
  min-height: 100%;
}

.slider-nav {
  margin: auto;
}

.slider-nav .item-slick {
  max-width: 240px;
  margin-right: 15px;
  outline: none !important;
  cursor: pointer;
}
.slider-nav .item-slick img {
  max-width: 100%;
  background-size: cover;
  background-position: center;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  margin-top: -12px;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close:hover {
  cursor: pointer;
}

.mfp-container:hover {
  cursor: default;
}

.image-source-link {
  color: #98c3d1;
}

.mfp-with-zoom.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/*BLUR background */
* {
  transition: filter 0.25s ease;
}

.mfp-wrap ~ * {
  filter: blur(5px);
}

.mfp-ready .mfp-figure {
  opacity: 0;
}

.mfp-zoom-in .mfp-figure,
.mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(0.95);
}

.mfp-zoom-in .mfp-preloader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-image-loaded .mfp-figure,
.mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready .mfp-preloader {
  opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-figure,
.mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler {
  transform: scale(0.95);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing .mfp-preloader {
  opacity: 0;
}

.mfp-iframe-scaler {
  overflow: visible;
}

.mfp-zoom-out-cur {
  cursor: auto;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}
.slider-nav img {
  width: 102px;
  height: 102px;
}
.slider-nav {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 5px;
  padding: 14px 30px 14px 30px;
}
.custom-slick .slick-prev:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 22px;
}
.custom-slick .slick-next:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 22px;
}
.carSlider .photos ul {
  list-style: none;
  padding: 0;
}
.carSlider .photos ul li {
  display: inline-block;
  padding: 0;
}
.carSlider .photos ul li:last-child {
  float: right;
}
.carSlider .photos h5 {
  font: normal normal 600 23px/39px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.carSlider .photos .fa {
  font-size: 27px;
  line-height: 35px;
}
.carSlider .slick-prev::before,
.carSlider .slick-next::before {
  color: #4fb0e9;
  opacity: 4 !important;
}
.carSlider .fa {
  font-size: 21px;
  line-height: 44px;
  margin-left: 9px;
  margin-right: 15px;
  margin-top: -2.5%;
  opacity: 3;
  cursor: pointer;
}
@media (max-width: 600px) {
  .carSlider .photos h5 {
    font: normal normal 600 20px/39px Lato;
  }
  .slider-for img {
    height: 340px;
  }
}
@media (max-width: 375px) {
  .slider-for img {
    height: 300px;
  }
}
@media (max-width: 280px) {
  .slider-for img {
    height: 200px;
  }
}
