body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',lato
    monospace;
}  

 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');