.hood .item1 .hoodImg{
     width: 100%;
height: 90px;
border-radius: 5px;
cursor: pointer;
}
.hood h5{
    text-align: left;
font: normal normal 600 21px/39px Lato;
letter-spacing: 0px;
color: #1C1C26;
}
.hood{
    margin-top: 5%;
    margin-bottom: 5%;
}
.hood p{
    text-align: left;
font: normal normal normal 14px/22px Lato;
letter-spacing: 0px;
color: #888888;
}
.hood .container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.hood .row{
    margin-left: 0;
}
.hood .row .col-md-4{
    margin-top: 4%;
}

.hood .item1{
    z-index: 0;
    position: relative;
}

.hood .item1 .imgIcon{
    width: 13px;
    height: 19px;
    margin-right: 4%;
}
/* .hood .col-12 .item1 .hoodImg {
        width: 65%;
        height: 100px;
} */
@media(max-width:574px){
    .hood  .item1 .hoodImg {
        width: 80%;
        height: 100px;
} 
}
@media(max-width:280px){
.hood .item1 .hoodImg {
    width: 100%;
    height: 100px;
}
}