.invoiceData {
    background-image: url("../../images/BG-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    margin-bottom: 5%;
  }
  
  .invoiceData .invoiceData2{
    margin-top: 3%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 8px #00000029;
border-radius: 5px;
  }
  .invoiceData .container{
    width: 77%;
    margin: auto;
  }
  .invoiceData .container .inviceDataHeader{
    background: #F1F3F4 0% 0% no-repeat padding-box;
    height: 90px;
    padding: 17px 19px 17px 17px;
  }
  .invoiceData .container .inviceDataHeader .logo{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #00000029;
    border-radius: 5px;
    width: 135px;
    height: 55px;
  }
  .invoiceData .invoiceData2 .data{
    padding: 40px 70px 0 70px;
  }
  
  @media(max-width:1050px){
    .invoiceData .container{
        width: 100% !important;
    }
    .invoiceData .invoiceData2 .data {
      padding: 33px 50px 0 50px;
  }
}
 
  @media(max-width:795px){
      .invoiceData .container{
          max-width:100% !important;
      }
      .invoiceData .invoiceData2 .data {
        padding: 33px 33px 0 33px;
    }
  }
  @media(max-width:585px){
    .invoiceData .invoiceData2 .data {
      padding: 33px 20px 0 20px;
  }
}

  @media(max-width:540px){
    .invoiceData .container .inviceDataHeader .logo{
      width:110px
    }
  }
  @media(max-width:535px){
    .invoiceData .invoiceData2 .data {
      padding: 33px 23px 0 23px
  }
  }
  @media(max-width:425px){
    .invoiceData .container .inviceDataHeader .logo{
      width: 86.47px;
      height: 38.659px;
    }
    .invoiceData .container .inviceDataHeader {
      background: #F1F3F4 0% 0% no-repeat padding-box;
      height: 72px;
      padding: 19px 19px 19px 19px;
  }
  }
  @media(max-width:415px){
    .invoiceData .invoiceData2 .data {
      padding: 0 20px 0px 20px;
  }
  }
  @media(max-width:320px){
    .invoiceData .invoiceData2 .data {
      padding: 4px 26px 0 4px;
  }
  .invoiceData{
    width: 107%;
  }
  }
  @media(max-width:280px){
    .invoiceData .invoiceData2 .data {
      padding: 0px 0px 0 0px
  }
  }