.carInfo {
  padding-top: 3%;
}
.carInfo .carName {
  height: 35px;
  margin-left: 0;
}
.carInfo .carData {
  margin-left: 0;
}
.carInfo .carName p {
  text-align: left;
  font: normal normal 600 20px/39px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.carInfo .carName svg {
  width: 21px;
  height: 21px;
  margin: 7px 5px;
  cursor: pointer;
}
.copied1 {
  display: none;
}
.carInfo .carData p {
  width: 256px;
  height: 29px;
  text-align: left;
  font: normal normal normal 17px/29px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.carInfo .carData svg {
  width: 17px;
  height: 17px;
  margin: 5px -71px;
  cursor: pointer;
}
.carInfo .info .item h6 {
  font: normal normal 400 18px/21px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.carInfo .info .item p {
  font: normal normal normal 14px/19px Lato;
  letter-spacing: 0px;
  color: #707070;
}
.carInfo .info .item div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 4px;
}
.carInfo .icons {
  display: flex;
}
.carInfo .icons p {
  margin-top: 15%;
  margin-right: 5%;
  margin-bottom: 0;
  font: normal normal normal 21px/22px Lato;
  letter-spacing: 0px;
  color: #707070;
}
.carInfo .icons svg {
  width: 35px;
  height: 35px;
  margin-top: 10%;
}

.carInfo .Toastify__toast-container--top-center {
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast {
  position: relative;
  min-height: 75px !important;
}
.carInfo .container .item .row {
  margin-left: 0;
}

@media (max-width: 992px) {
  .carInfo .info .item h6 {
    font: normal normal 400 17px/21px Lato;
  }
  .carInfo .container .item .row,
  .carInfo .container .s p {
    margin-left: -15px;
  }
}
@media (max-width: 767px) {
  .carInfo .icons p {
    font: normal normal normal 18px/24px Lato;
  }
  .carInfo .icons svg {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 600px) {
  .carInfo .carName p {
    font: normal normal 600 19px/39px Lato;
  }
  .carInfo .carData p {
    font: normal normal normal 16px/29px Lato;
  }
  .carInfo .carData svg {
    margin: 5px -81px;
  }
  .carInfo .carName svg {
    width: 19px;
    height: 19px;
    margin: 8px 4px;
  }
}

@media (max-width: 575px) {
  .carInfo .icons p {
    font: normal normal normal 18px/15px Lato;
  }
  .carInfo .icons svg {
    width: 28px;
    height: 28px;
  }
  .carInfo .col-4 {
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .carInfo .info .item h6 {
    font: normal normal 400 15px/21px Lato;
  }
  .carInfo .info .item p {
    font: normal normal normal 13px/10px Lato;
    text-align: left;
  }
  .carInfo .info .item div {
    width: 11px;
    height: 11px;
    margin-top: 6px;
  }
}

@media (max-width: 375px) {
  .carInfo .container {
    padding: 0;
  }
  .carInfo .info .item h6 {
    font: normal normal 400 14px/21px Lato;
  }
}
@media (max-width: 415px) {
  .carInfo .row {
    width: 119%;
  }
}

@media (max-width: 360px) {
  .carInfo .carName p {
    font: normal normal 600 19px/39px Lato;
  }
}
@media (max-width: 320px) {
  .carInfo .carName p {
    font: normal normal 600 18px/39px Lato;
  }
  .carInfo .info .item h6 {
    font: normal normal 400 13px/21px Lato;
  }
  .carInfo .info .item p {
    font: normal normal normal 12px/10px Lato;
    text-align: left;
  }
  .carInfo .col-4 {
    padding-right: 0;
  }
}
@media (max-width: 300px) {
  .carInfo .carName p {
    font: normal normal 600 15px/39px Lato;
  }
  .carInfo .carName svg {
    width: 15px;
    height: 15px;
    margin: 11px 3px;
  }
  .carInfo .carData svg {
    margin: 7px -103px;
    width: 15px;
    height: 15px;
  }
  .carInfo .carData p {
    font: normal normal normal 14px/29px Lato;
  }
  .carInfo .col-4 {
    padding-right: 0;
    padding-left: 0;
  }
  .carInfo .container {
    width: 110% !important;
  }
}
