.invoicet .car,
.invoicet .services,
.invoicet .prices {
  text-align: left;
  font: normal normal 400 18px/29px Lato;
  letter-spacing: 0px;
  color: #888888;
  padding: 8px 8px 8px 8px;
}
.invoicet .col-md-5,
.invoicet .col-md-2 {
  padding: 0;
}
.invoicet .line-c {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59%;
  overflow: hidden;
}
.invoicet .lines p {
  text-align: left;
  font: normal normal 400 17px/24px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoicet .carData,
.invoicet .serviceData,
.invoicet .priceData {
  padding: 10px 8px 8px 8px;
}
.invoicet .carData .copy {
  margin: 4px 0px 0 7px;
   height: 16px;
}
.invoicet .carData .copy svg{
  position: absolute;
  width: 16px;
}
.invoicet .line-c {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: auto;
  overflow: hidden;
}
.invoicet .carData .row {
  margin: 0;
}
.invoicet .carData .fromTo {
  text-align: left;
  font: normal normal normal 14px/0px Lato;
  letter-spacing: 0px;
  color: #888888db;
}
.invoicet .serviceData p {
  text-align: left;
  font: normal normal 400 17px/15px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoicet .serviceData svg {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 1%;
}
.invoicet .priceData p {
  text-align: left;
  font: normal normal 400 17px/15px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}

.invoicet .has-tooltip {
  position: relative;
}
.invoicet .has-tooltip .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -moz-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -o-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
}
.invoicet .has-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Tooltip Body */
.invoicet .tooltip {
  bottom: 112%;
  width: 190px;
  left: 77%;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  font: normal normal normal 12px/19px Lato !important;
  color: #ffffff;
  height: auto;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 7px;
}
.invoicet .car,
.invoicet .services,
.invoicet .prices {
  border-bottom: 1px solid #dee2e6 !important;
}
.invoicet .border {
  border-bottom: 1px solid #dee2e6 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
.invoicet .subtotal,
.invoicet .subtotalPrice {
  padding: 10px 8px 8px 8px;
  text-align: left;
  font: normal normal 400 19px/29px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}

.invoicet .fees,
.invoicet .feesPrice {
  padding: 10px 8px 8px 8px;
  text-align: left;
  font: normal normal 400 18px/29px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}

.invoicet .total,
.invoicet .totalPrice {
  padding: 10px 8px 8px 8px;
  text-align: left;
  font: normal normal 400 22px/39px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoicet .button button,
.invoicet .button button:focus {
  background: transparent linear-gradient(257deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 5px;
  font: normal normal 400 20px/29px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  border: 0;
  width: 70%;
  height: 42px;
  outline: 0;
}

@media (max-width: 992px) {
  .invoicet .button button,
  .invoicet .button button:focus {
    width: 100%;
  }
}
/* Tooltip Caret */
@media (max-width: 805px) {
  .invoicet .tooltip {
    left: -57px;
  }
}

@media (max-width: 768px) {
  .invoicet .line-c {
    width: 80% !important;
  }
  .invoicet .carData .copy {
    margin: 4px 0px 0 0px;
  }
}
@media (max-width: 707px) {
  .invoicet .feesPrice,
  .invoicet .totalPrice,
  .invoicet .subtotalPrice {
    float: right;
  }
  .invoicet .priceData p,
  .invoicet .subtotalPrice,
  .invoicet .feesPrice,
  .invoicet .totalPrice {
    text-align: right;
  }
}
@media (max-width: 575px) {
  .invoicet .line-c {
    width: auto !important;
  }
  .invoicet .carData .copy {
    margin: 4px 0px 0 9px;
  }
  .invoicet .priceData p,
  .invoicet .subtotalPrice,
  .invoicet .feesPrice,
  .invoicet .totalPrice {
    text-align: right;
  }
  .invoicet .carData {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .invoicet .car,
  .invoicet .services,
  .invoicet .prices {
    border-bottom: 0;
  }
  .invoicet .border {
    margin-bottom: 8%;
  }
}
@media (max-width: 415px) {
  .invoicet .subtotal,
  .invoicet .subtotalPrice {
    font: normal normal 400 18px/20px Lato;
  }
  .invoicet .total,
  .invoicet .totalPrice {
    font: normal normal 400 20px/39px Lato;
  }
  .invoicet .feesPrice,
  .invoicet .totalPrice,
  .invoicet .subtotalPrice {
    float: right;
  }
}
@media (max-width: 375px) {
  .invoicet .subtotal,
  .invoicet .subtotalPrice {
    font: normal normal 400 18px/29px Lato;
  }
  .invoicet .total,
  .invoicet .totalPrice {
    font: normal normal 400 20px/39px Lato;
  }
  .invoicet .feesPrice,
  .invoicet .totalPrice,
  .invoicet .subtotalPrice {
    float: right;
  }
}

@media (max-width: 320px) {
  .invoicet .subtotal,
  .invoicet .subtotalPrice {
    font: normal normal 400 18px/20px Lato;
  }
  .invoicet .total,
  .invoicet .totalPrice {
    font: normal normal 400 20px/39px Lato;
  }
  .invoicet .tooltip {
    left: -20px !important;
  }
}

@media (max-width: 280px) {
  .invoicet .tooltip {
    left: -40px !important;
  }
  .invoicet .serviceData p,
  .invoicet .priceData p {
    font: normal normal 400 16px/15px Lato;
  }
  .invoicet .subtotal,
  .invoicet .subtotalPrice,
  .invoicet .fees,
  .invoicet .feesPrice {
    font: normal normal 400 17px/20px Lato;
  }
  .invoicet .total,
  .invoicet .totalPrice {
    font: normal normal 400 18px/39px Lato;
  }
  .invoicet {
    overflow: hidden;
  }
}
